<!DOCTYPE html>
<html>
	<head>
		<title>Orac | {{common.page_title}}</title>
		<link rel="stylesheet" href="/static/styles.css" type="text/css" />
	</head>
	<body>
		<nav>
			<ul>
				{% for guild in common.guilds %}
					<li class="guild {% if guild.selected %}selected{% endif %}">
						<a href="/guild/{{guild.id}}">
							{% match guild.logo_url -%}
								{% when Some with (url) -%}
									<img class="guild-logo" src="{{url}}" width="32" height="32" >
								 {% when None -%}
							{% endmatch -%}
							{{guild.name}}

						</a>
						{% if guild.selected %}
							<ul>
								<li><a href="/guild/{{guild.id}}/channels">Channels</a></li>
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				<li><a href="/profile">Profile</a></li>
			</ul>
		</nav>

		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
</html>
