{% extends "base.html" %}

{% block content %}
	<h1>Managed Channels</h1>
	<a href="/guilds/{{guild_id}}/add_channel">Add Channel</a>

	<table>
		<thead>
			<tr>
				<th>Channel</th><th>Reset</th><th></th>
			</tr>
		</thead>
		<tbody>
	{% for channel in channels %}
		<tr>
			<td>{{channel.name|or_else("No channel name")}}</td>
			<td>{% match channel.allow_reset %}{% when true %}Yes{% else %}No{% endmatch %}</td>
			<td><a href="/guilds/{{guild_id}}/channel/{{channel.id}}">Manage</a></td>
		</tr>
	{% endfor %}
		</tbody>
	</table>
{% endblock %}
