{% extends "base.html" %}

{% block content %}
	<h1>Managed Channels</h1>

	<table>
		<thead>
			<tr>
				<th>Guild</th><th>Channel</th><th>Features</th><th></th>
			</tr>
		</thead>
		<tbody>
	{% for channel in channels %}
		<tr>
			<td>
				{% match guild_map.get(channel.guild_id) %}
				{% when Some with (g) %}{{g.name|or_else("No guild name")}}
				{% when None %}
				None?
				{% endmatch %}

			</td>
			<td>{{channel.name|or_else("No channel name")}}</td>
			<td>...</td>
			<td><a href="/channel/{{channel.id}}">Manage</a></td>
		</tr>
	{% endfor %}
		</tbody>
	</table>

	<h1>Add Channel</h1>

	<form method="post">
		<label>
			Guild
			<select name="guild_id">
				{% for guild in guilds %}
					<option value="{{guild.id}}">{{guild.name|or_empty}}</option>
				{% endfor %}
			</select>
		</label>
		<label>
			Channel Id
			<input type="text" name="channel_id" />
		</label>
		<label>
			Name
			<input type="text" name="Name" />
		</label>

		<button type="submit">Add</button>
	</form>
{% endblock %}
