{% extends "base.html" %}

{% block content %}
	<h1>Managed Guilds</h1>

	<table>
		<thead>
			<tr>
				<th>Guild</th>
			</tr>
		</thead>
		<tbody>
			{% for guild in guilds %}
				<tr>
					<td>{{guild.name|or_empty}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h1>Add Guild</h1>

	<form method="post">
		<label>
			Guild Id
			<input type="text" name="guild_id"/>
		</label>
		<label>
			Name
			<input type="text" name="name" />
		</label>

		<button type="submit">Add</button>
	</form>
{% endblock %}
